<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="contact.component.css">
</head>

<body>
    <div class="para">
        <h2>This is Contact us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque dolorum reiciendis ducimus neque inventore
            culpa a odio deserunt? Ducimus officiis modi corporis! Dolor omnis velit tenetur delectus, enim porro
            quaerat voluptatibus nam hic consequatur?Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dicta
            illum neque, reprehenderit rerum, cupiditate tempora enim temporibus quae magni illo repudiandae nobis autem
            dolorum aliquam iste veritatis. Eligendi, deleniti?</p>
    </div>
</body>

</html>